<div class="container">
    <div class="h1">Person registries</div>

    {{{renderSearchBar response.description}}}

    {{#if response.adminAuthenticated}}
    <a href="/person/add">Create new registry</a>
    {{else}}
    <p>
        To administrate person registries <a href="/">login</a> at the home page.
    </p>
    {{/if}}

    <hr>

    {{#if response.status}}

    {{{statusMessageRendering response.status response.description response.}}}

    {{else}}

    {{#if response.searchPerformed}}
    <div class="h3">Search result</div>
    <a href="/person">Reset search</a>
    {{/if}}

    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 20, "columnHeight": 20 }'>

        {{#each response.people}}

        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">
                        {{#if this.addresses}}
                    <div class="h6">
                        Addresses:
                    </div>
                    <ul>
                        {{#each this.addresses}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <ul>
                        <li>No Addresses registered</li>
                    </ul>
                    {{/if}}
                    <hr>
                    {{#if this.contact_info}}
                    <div class="h6">Contact info</div>
                    {{#each this.contact_info}}
                    <ul>
                        <li><b>{{this.type}}</b>: {{this.detail}}</li>
                    </ul>
                    {{/each}}
                    {{else}}
                    <ul>
                        <li>No contact info registered.</li>
                    </ul>
                    {{/if}}
                    {{#if this.note}}
                    <hr>
                    <div class="h6">
                        Notes
                    </div>
                    {{this.note}}
                    {{/if}}
                    </p>
                    {{#if ../response.adminAuthenticated}}
                    <hr>
                    <button class="btn btn-outline-warning" onclick="editPerson('{{this._id}}')">Edit registry</button>
                    <button class="btn btn-outline-danger" onclick="deleteRegistry('{{this._id}}')">Delete
                        registry</button>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}}

    </div>

    {{/if}}
</div>
<script src="js/person/user.js"></script>
{{#if response.adminAuthenticated}}
<script src="js/person/admin.js"></script>
{{/if}}